
.navbar {
  text-align: center;
}

.nav-links {
  display:flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color:white;
  text-decoration: none;
}

body {
  margin: 0;
  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("images/Pasta.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: white;
}

.hero {
  text-align: center;
  color: white;
  height: 100vh;
}
